<body>
    
    <div class="form-container">
        <p class="title"><img src="assets/logo.jpeg" alt="" height="60" width="120"></p>
        <form class="form" >
          <input type="email" class="input form-control" placeholder="Email" name="email" [(ngModel)]="email">
          
          
          <button class="form-btn"  (click)="resetPassword()">Reset Password</button>
        </form>
        <p class="sign-up-label">
           have an account?<a routerLink="/login"><span class="sign-up-link">Sign in</span></a>
        </p>
       
      </div>
</body>

<div class="dialog-box bg-white" id="dialog">
    <h2>Information 💁🏻</h2>
    <p>{{message}}</p>
    <button aria-label="close" class="x" (click)="close_dialog()">❌</button>
  </div>
